/*база*/
:root{
    --main-bg-color:#ffffff;
    --text-color:#212121;
    --accent-color:#2196f3;
    --button-bg-color:#f5f4fa;
    --secondary-text-color:#2196f3;
    --background-fill-color:#2f303a;
}

/*перший текст під картинкою*/
.image-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    width: 322px;
    height: 36px;
}
/*другий текст під картинкою*/
.image-description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 322px;
    height: 30px;
    color: #757575;
}
/*Параметри картинок*/
.image-style{
    width: 370px;
    height: 294px;
    object-fit: cover;
}
/*кнопки*/
a:hover,
a:focus,
a:active {
    color: var(--accent-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
    line-height: normal;
    letter-spacing: 0.02em;
}

button:hover,
button:focus,
button:active{
    background-color: var(--accent-color);
    color:#ffffff
}

/**/
