/*перший текст під картинкою*/
.image-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    width: 322px;
    height: 36px;
}
/*другий текст під картинкою*/
.image-description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 322px;
    height: 30px;
    color: #757575;
}
/*Параметри картинок*/
.image-style{
    width: 370px;
    height: 294px;
    object-fit: cover;
}