.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-envelope_email {
  width: 1.23046875em;
}

.icon-Group_suputnyk {
  width: 0.9423828125em;
}

.icon-Logo_svg1 {
  width: 1.7666015625em;
}

.icon-Logo_svg2 {
  width: 1.7666015625em;
}

.icon-Logo_svg3 {
  width: 1.7666015625em;
}

.icon-Logo_svg4 {
  width: 1.7666015625em;
}

.icon-Logo_svg5 {
  width: 1.7666015625em;
}

.icon-Logo_svg6 {
  width: 1.7666015625em;
}

.icon-smartphone_tel {
  width: 0.587890625em;
}
