// Основні кольори
$main-bg-color: #ffffff;
$text-color: #212121;
$accent-color: #2196f3;
$button-bg-color: #f5f4fa;
$background-fill-color: #2f303a;
$color-gray: #757575;

// Шрифти та розміри
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-title: 18px;
