/*база*/
:root{
    --main-bg-color:#ffffff;
    --text-color:#212121;
    --accent-color:#2196f3;
    --button-bg-color:#f5f4fa;
    --background-fill-color:#2f303a;
    --color-gray:#757575;
}
/*перший текст під картинкою*/
.image-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--text-color);
}
/*другий текст під картинкою*/
.image-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--color-gray);
}

/*кнопки*/

.hero-button {
    border: none;
    border-radius: 4px;
    color: var(--main-bg-color);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 24px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color);
    line-height: 1.8;
    letter-spacing: 0.06em;
}

.sec-button button{     
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

}

a:hover,
a:focus,
a:active {
    color: var(--accent-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
    line-height: normal;
    letter-spacing: 0.02em;
}
button:hover,
button:focus,
button:active{
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}   

.btn-black{
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.btn-gray{
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-gray);
}

/*шапка*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: var(--text-color);

    span {
        color: var(--accent-color);
    }
}


.logo-footer .logo-web {
    color: var(--accent-color);
}

.logo-footer .logo-studio {
    color: var(--main-bg-color);
}
/*
///////// Animation /////////
*/

.site-navigation__links a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation__links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    top: 44px; 
    left: 0;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0); 
}

.site-navigation__links a:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.site-navigation__links a:hover {
    color: var(--accent-color);
}



/*body*/
body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--main-bg-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 400;
    margin: 0;
}

/*section*/
section.hero {
    background-color: var(--background-fill-color);
    font-size: 44px ;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--main-bg-color)
}

section.hero h1 {
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*головна, селекція 2*/

.hightlighted-title {
    font-weight: 700;
    line-height: 1.1;
    font-size: inherit;
}

.hightlighted-text{
    color: var(--color-gray);
    line-height: 1.71;
}

.h2-text{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 50px;
}
.h3-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 10px;
}
.p-text{
    color: var(--color-gray);
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 10px;
}

/*footer*/
footer {
    background-color: var(--background-fill-color);
    color:var(--text-color);
}
.footer-city{
    color: var(--main-bg-color);
    line-height: 1.1;
    margin-bottom: 12px;
}
.footer-text-gray{
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.1;
    margin-bottom: 12px;
}
footer a {
    color: rgba(255, 255, 255, 0.6);
}
/*контейнери*/
.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;
	max-width: 1200px;
  }
.header{
    border-bottom: 1px solid #ECECEC;
}
.header .container {
	height: 80px;
	display: flex;
	align-items: center;

}

.site-navigation__links {
	display: flex;
	gap: 50px;
}

.site-navigation__links li {
	display: inline;
}

nav {
    margin-left: 96px ;
}
/*header*/
.contact-info {
    margin-left: auto;
}
.contact-info ul {
    display: flex;
    list-style: none; 
    padding: 0;
    margin-right: auto;
    gap: 40px; 
}
.contact-info ul li p {
	margin: 0;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info svg {
    display: block;
}

.icon-phone {
    width: 10px;
    height: 16px;
    transition: stroke 0.3s ease;
}
.icon-mail {
    width: 16px;
    height: 12px; 
    transition: stroke 0.3s ease;
}


.btn-gray:hover .icon-phone {
    fill: #2196F3;
}

.btn-gray:hover .icon-mail {
    fill: #2196F3;
}

.contact-info a {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*глобальне скидання стилів*/
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*індекс, секція 1*/
.hero {
    background-color: var(--background-fill-color); 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Img_hero.jpg');   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 200px 0;
}
@media (min-width: 1600px) {
    .hero {
        background-size: 1600px auto;
    }
}

.hero h1 {
    max-width: 600px;
    color: var(--main-bg-color); 
    margin-bottom: 30px; 
}

/*секція 2 index*/
.section-ind-first{
    padding: 94px 0;
}
.section-ind-first li:last-child {
    margin-right: 0;
}
.section-ind-first h3 {
    margin-bottom: 10px;
}
.text-block{
    width: 270px;
    text-align: left;
}
.text-block-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.icon {
    width: 70px;
    height: 70px;
}
.icon-wrapper {
    background-color: var(--button-bg-color);
    padding: 25px 100px;
    border-radius: 8px;
    margin-bottom: 30px;
    display: inline-block;
}

/*секція 3 index*/
.section-ind-third{
    padding-bottom: 94px;
    text-align: center;
}
.image-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image-overlay {
    position: relative;
    display: inline-block;
}

.image-overlay img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color:var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*секція 4 index*/

.section-ind-four {
    padding: 94px 0;
    background-color: var(--button-bg-color);
    text-align: center;

}
.section-ind-four ul {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 0;
    margin-top: 0;
    list-style: none;
}

.section-ind-four li.card-item {
    max-width: 270px;
    background-color: var(--main-bg-color);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.text-img-cont{
    padding: 30px 32px;
}
.icon-soc {
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    border-radius: 50%;
    background-color: var(--main-bg-color); 
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    box-sizing: border-box; 
}

.icon-soc svg {
    width: 20px;
    height: 20px;
}

.icon-soc:hover {
    background-color: var(--accent-color);
}
.icon-soc:hover svg {
    color: #FFFFFF;
}

.icon-soc-img{
    display: flex;
    justify-content: space-between;
    gap: 0;
    margin-top: 16px;
    padding: 0;
    list-style: none;
}


/*
        ТІНІ
*/

.section-ind-four li.card-item {
    max-width: 270px;
    background-color: var(--main-bg-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*секція постійні клієети (5)*/
.clients-section {
    padding: 94px 0;
}
.clients-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}
.client-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 0.3s ease, border-color 0.3s ease;
    color: #AFB1B8;
}

.client-icon {
    width: 106px;
    height: 60px;
    transition: color 0.3s ease, fill 0.3s ease;
    color: inherit
}

.client-item:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
}
.client-item:hover .client-icon {
    color: var(--accent-color);
    cursor: pointer;
}

/*footer*/
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 28px;
    display: flex;
}

.footer-contacts {
    list-style: none;
}

.footer-des{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    gap: 94px;
    align-items: baseline;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-contacts li{
    margin-bottom: 12px;
}

.social-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    color: var(--main-bg-color);
}

.social-icons {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-icons a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons a:hover {
    background-color: var(--accent-color);
}

.social-icons li svg {
    color: #FFFFFF;
}

.social-icons svg {
    width: 20px;
    height: 20px;
    transition: fill 0.3s ease;
}

/*portfolio*/
.section-port-first{
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}
.ul-button {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0;
    margin-bottom: 50px;
}

/* Стилі для списку з картинками */
.section-port-first ul:not(.ul-button) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.section-port-first ul:not(.ul-button) img {
    width: 100%;
    display: block;
    height: auto;
}
.image-title, .image-description {
    text-align: left; 
}
.text-container {
    padding: 20px 24px 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.section-port-first ul:not(.ul-button) li {
    width: calc(33.3333% - 30px);
    position: relative;
    background-color: var(--main-bg-color);
    border-radius: 1px;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-port-first ul:not(.ul-button) li:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.section-port-first ul:not(.ul-button) img {
    width: 100%;
    display: block;
    height: auto;
}
.card:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}


.image-wrapper {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}
.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute; 
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(33, 150, 243, 0.9);
    color: white; 
    transition: bottom 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    opacity: 0;
}

.overlay-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-transform: none;
    margin: 0;
    padding: 63px 24px;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.card:hover .overlay {
    bottom: 0;
    opacity: 1;
}

.card {
    position: relative;
    list-style: none;
}

.card:hover .overlay {
    opacity: 1;
}
.card:hover .overlay {
    bottom: 0; 
    opacity: 1;
}
.card .overlay {
    transition: bottom 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.card:not(:hover) .overlay {
    bottom: -100%;
    opacity: 0;
}
